body{
	background-color: antiquewhite;
	width: 100%;
}
.Homeheading img{
	width: 100px;
	height: 100px;
}

.Homeheading{
	
	display: flex;
	gap: 20px;
	justify-content: center;
	place-items: center;
	background-color: #960018;
}


h1{
	color: white;
	font-size: 50px;
}

ul{
	
	list-style-type: none;
	background-color: yellow;
	border: 1px solid black;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li{
	float: left;
	border-right: 2px solid black;
}


li a{
	display: block;
	padding: 10px 20px;
	color: black;
	text-decoration: none;
}


.lastmenuchild{
	float: right;
	border-right: 0;
}
.login{
	float: right;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.Homedescrp{
	text-align: center;
	font-size: 15px;
	color: red;
}

.swiper {
	width: 1349px;
	height: 300px;
  }

.swiper .swiper-button-prev, .swiper .swiper-button-next{
	color: rgba(177, 58, 58, 0.897);
	
}
/* 
.swiper-pagination-bullet-active {
	background-color: #000 !important;
    width: 1rem;
    height: 1rem;
} */
/* change active bullet color to red */
.swiper-pagination-bullet-active {
    
    /* background: var(--swiper-pagination-color, var(--swiper-theme-color)); */
	opacity: 1;
    background-color: rgb(55, 206, 143);
	width: 3rem;
    height: 0.6rem;
	border-radius: 0.5rem;
}

/* move swiper pagination on top to image
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 0;
    top: 0 !important;
} */


.swiper-scrollbar-active{
	color: aquamarine;
}

.sweets{
	white-space: none;
}

h3{
	color: blueviolet;
}


.angry-grid {
	display: grid; 
	/* grid-template-rows: 120px 70px; */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
	gap: 0px;
	margin: 10px auto;
	width: 100%;
    grid-column-gap: 15px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
 }
   
 #item-0 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 2;
	grid-column-end: 2;
	
 }
 #item-1 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 2;
 
	grid-row-end: 2;
	grid-column-end: 3;
	
 }
 #item-2 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
	
 }
 #item-3 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 2;
 
	grid-row-end: 3;
	grid-column-end: 3;
	
 }
 #item-4 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 3;
 
	grid-row-end: 2;
	grid-column-end: 4;
	
 }
 #item-5 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 4;
 
	grid-row-end: 2;
	grid-column-end: 5;
	
 }
 #item-6 {
	text-align: center;
	background-color: #09e8f8;
	font-weight: bold; 
	grid-row-start: 2;
	grid-column-start: 3;
 
	grid-row-end: 3;
	grid-column-end: 4;
	
 }
 #item-7 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 4;
 
	grid-row-end: 3;
	grid-column-end: 5;
	
 }

 #item-8 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-9 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }

 #item-10 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-11 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }

 #item-12 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-13 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }

 #item-14 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-15 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }
 