html, body{
	max-width: 100%;
	min-height: 100%;
	background-color: antiquewhite;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Homeheading img{
	width: 100px;
	height: 100px;
	
}

.Homeheading{
	
	display: flex;
	gap: 20px;
	justify-content: center;
	place-items: center;
	background-color: #960018;
}
.accounts img{
	width: 50px;
	height: 50px;
	float: right;
	place-items: right;
}



h1{
	color: white;
	font-size: 50px;
}

ul{
	
	list-style-type: none;
	background-color: yellow;
	border: 1px solid black;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li{
	float: left;
	border-right: 2px solid black;
}


li a{
	display: block;
	padding: 10px 20px;
	color: black;
	text-decoration: none;
}


.lastmenuchild{
	float: right;
	border-right: 0;
}
.login{
	float: right;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.Homedescrp{
	text-align: center;
	font-size: 15px;
	color: red;
}

.swiper {
	width: 1349px;
	height: 300px;
  }

.swiper .swiper-button-prev, .swiper .swiper-button-next{
	color: rgba(177, 58, 58, 0.897);
	
}
/* 
.swiper-pagination-bullet-active {
	background-color: #000 !important;
    width: 1rem;
    height: 1rem;
} */
/* change active bullet color to red */
.swiper-pagination-bullet-active {
    
    /* background: var(--swiper-pagination-color, var(--swiper-theme-color)); */
	opacity: 1;
    background-color: rgb(55, 206, 143);
	width: 3rem;
    height: 0.6rem;
	border-radius: 0.5rem;
}

/* move swiper pagination on top to image
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 0;
    top: 0 !important;
} */


.swiper-scrollbar-active{
	color: aquamarine;
}

.sweets{
	white-space: none;
}

h3{
	color: blueviolet;
}


.angry-grid {
	display: grid; 
	/* grid-template-rows: 120px 70px; */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
	gap: 0px;
	margin: 10px auto;
	width: 100%;
    grid-column-gap: 15px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
 }
   
 #item-0 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 2;
	grid-column-end: 2;
	
 }
 #item-1 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 2;
 
	grid-row-end: 2;
	grid-column-end: 3;
	
 }
 #item-2 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
	
 }
 #item-3 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 2;
 
	grid-row-end: 3;
	grid-column-end: 3;
	
 }
 #item-4 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 3;
 
	grid-row-end: 2;
	grid-column-end: 4;
	
 }
 #item-5 {
 
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 4;
 
	grid-row-end: 2;
	grid-column-end: 5;
	
 }
 #item-6 {
	text-align: center;
	background-color: #09e8f8;
	font-weight: bold; 
	grid-row-start: 2;
	grid-column-start: 3;
 
	grid-row-end: 3;
	grid-column-end: 4;
	
 }
 #item-7 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 4;
 
	grid-row-end: 3;
	grid-column-end: 5;
	
 }

 #item-8 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-9 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }

 #item-10 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-11 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }

 #item-12 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-13 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }

 #item-14 {
	background-color: #a50303; 
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
	
 }

 #item-15 {
	text-align: center;
	font-weight: bold;
	background-color: #09e8f8; 
	grid-row-start: 2;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
 }
 
 /* @media screen and(max-width: 300px){
	li a{
		font-size: 500px;
	}
}
	 */



.userreg{
	display: flex;
	justify-content: center;
	place-items: center;
	width: 30%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0px;
    grid-column-gap: 15px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	background-color: #e05d73;
	
}

/*Userlogin*/
.userlogin{
	display: flex;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0px;
    grid-column-gap: 15px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	justify-content: center;
	place-items: center;
	background-color: #e05d73;
}

/*codepen login*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
/*-----------------------------------------*/